.bars{
	background-color: blue;
	width:15px;
	float: left;
	margin-right: 4px;
	}
#container{
	margin: auto 7%;
	height: 570px;
}
body{
background-color: black;
}
button{
	margin: auto 20px;
}
#buttons{
	text-align: center;
}
